body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 上部に寄せる */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    touch-action: manipulation; /* 追加 */
}

#app {
    text-align: center;
    width: 100%; /* 全体の幅を100%に設定 */
    position: relative;
    top: 10%; /* ページ上部からの距離を固定 */
}

.message {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px; /* 数字と「飲め」テキストの間に余白を追加 */
    visibility: hidden; /* 初期状態では非表示 */
}

.counter {
    font-size: 5rem;
    margin: 20px 0;
}

.button {
    padding: 20px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 10px 0;
}

#resetButton {
    padding: 20px 40px; /* リセットボタンのサイズをタップボタンと同じに調整 */
    font-size: 1.5rem; /* フォントサイズをタップボタンと一致させる */
    margin-top: 20px; /* タップボタンとの間に余白を追加 */
    position: absolute; /* 絶対位置指定 */
    bottom: 20px; /* 下部に配置 */
    left: 50%;
    transform: translateX(-50%); /* 水平方向に中央揃え */
}
