body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    touch-action: manipulation; /* 追加 */
}

.container {
    text-align: center;
    position: relative; /* 相対位置指定 */
}

#counter {
    font-size: 5rem;
    margin: 20px 0;
}

.button {
    padding: 50px 100px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px auto;
    user-select: none; /* 追加 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 追加 */
}

#resetButton {
    font-size: 1.2rem;
    position: absolute; /* 絶対位置指定 */
    bottom: 20px; /* 下部に配置 */
    left: 50%;
    transform: translateX(-50%); /* 水平方向に中央揃え */
    padding: 20px 40px; /* リセットボタンのサイズを調整 */
}

#message {
    position: absolute; /* 絶対位置指定 */
    top: calc(50% - 120px); /* カウンターの真上に配置 */
    left: 50%;
    transform: translateX(-50%); /* 水平方向に中央揃え */
    font-size: 2rem; /* テキストのサイズを大きく調整 */
    color: black; /* テキストの色を黒に設定 */
    visibility: hidden; /* 初期状態では非表示 */
}
