.container {
    text-align: center;
    position: relative;
}

.counter {
    font-size: 5rem;
    margin: 20px 0; /* 上部と下部に余白を追加 */
    position: absolute;
    top: 50%; /* 上下方向の中央揃え */
    left: 50%;
    transform: translate(-50%, -50%); /* 水平方向と垂直方向の中央揃え */
}

.message {
    font-size: 1.2rem;
    color: black;
    position: absolute;
    top: calc(50% - 90px); /* 数字の上に配置 */
    left: 50%;
    transform: translateX(-50%); /* 水平方向に中央揃え */
    visibility: hidden; /* 初期状態では非表示 */
}

.button {
    padding: 20px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px auto; /* 上部と下部に余白を追加 */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
}

#tapButton, #resetButton {
    position: absolute;
    bottom: 20px; /* 画面下部に配置 */
    left: 50%;
    transform: translateX(-50%); /* 水平方向に中央揃え */
}
